<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container ">
    <h1 class="display-4">Angular App</h1>
    <p class="lead">Aplicacion en angular</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3" style="border:1px black solid;">
    <span>1</span>
  </div>
  <div class="col-sm-3" style="border:1px black solid;">
    <span>2</span>
  </div>
  <div class="col-sm-3" style="border:1px black solid;">
    <span>3</span>
  </div>
  <div class="col-sm-3" style="border:1px black solid;">
    <span>4</span>
  </div>

</div>
