<h1>buscador <small>{{termino}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length === 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultado con el termino: {{termino}}
    </div>
  </div>
</div>
<div class="card-columns">
  <app-heroe-tarjeta [heroe]="heroe" [i]="heroe.idx" *ngFor="let heroe of heroes;"></app-heroe-tarjeta>
</div>
<!-- <div class="card-columns animated fadeIn fast">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top" src="../{{heroe.img}}" alt="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text">{{heroe.aparicion}}</p>
      <p class="card-text"><small class="text-muted"><p class="card-text">{{heroe.casa}}</small></p>
      <button (click)="verHeroe(i)"
       type="button" class="btn btn-outline-primary btn-block btn-outline-success">
        ver mas ...
      </button>
      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block btn-outline-success">Ver mas ..</a> -->
    <!--</div> -->
  <!-- </div> -->
